<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="psClimaCellv4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  <System.Windows.Forms.ApplicationConfigurationSection>
  <add key="DpiAwareness" value="PerMonitorV2" />
</System.Windows.Forms.ApplicationConfigurationSection>
-->
  <userSettings>
    <psClimaCellv4.My.MySettings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimesRun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateInt_Timelines" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TlCore0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore15" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore16" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore17" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore18" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore19" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlAqi11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol15" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol16" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol17" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol18" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol19" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol21" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol22" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol23" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol24" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlPol25" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlHail0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlFire0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="cLatitude" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="cLongitude" serializeAs="String">
        <value>-78</value>
      </setting>
      <setting name="Ts1m" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ts5m" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ts15m" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ts30m" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ts1h" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ts1d" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_Images" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_Headers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TsCur" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_KeepDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CallsRemaining" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowTask" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TlSol0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlSol1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlSol2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlMt14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlLand9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TsBest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore21" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TlCore22" serializeAs="String">
        <value>False</value>
      </setting>
    </psClimaCellv4.My.MySettings>
  </userSettings>
</configuration>