<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="psClimaCell.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <psClimaCell.My.MySettings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>250, 250</value>
      </setting>
      <setting name="TimesRun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="cLatitude" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="cLongitude" serializeAs="String">
        <value>-78</value>
      </setting>
      <setting name="UpdateInterval_Daily" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Daily_Temp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_FeelsLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Dewpoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Humidity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_WindSpeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_WindDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Bp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Precip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_PrecipProb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_PrecipAcc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Sunrise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Sunset" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_Vis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_WxCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Daily_MoonPhase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Hour_Temp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_FeelsLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Dewpoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Humidity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_WindSpeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_WindDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_WindGust" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Bp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Precip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_PrecipType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_PrecipProb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Sunrise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Sunset" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Vis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_CloudCover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_CloudBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_CloudCeil" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_SSR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_MoonPhase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_WxCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreePollen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_WeedPollen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_GrassPollen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeAcacia" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeAsh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeBeech" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeBirch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeCedar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeCottonwood" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeCypress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeElder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeElm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Grass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeHemlock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeHickory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeJuniper" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeMahogany" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeMaple" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeMulberry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreePine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Ragweed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeSpruce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeSycamore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeWalnut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeWillow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_TreeOak" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Pm10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Pm25" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_O3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_No2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_Co" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_So2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_EpaAqi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_EpaHealthConcern" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_EpaPrimaryPollutant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_ChinaAqi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_ChinaHealthConcern" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_ChinaPrimaryPollutant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_RoadRisk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_RiskScore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_RiskConfidence" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_RiskCondition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hour_HailRisk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fetch_Daily" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fetch_Hourly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Bp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Dewpoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_FeelsLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_RH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Precip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_PrecipType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Sunrise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Sunset" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Temp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Vis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_WindSpeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_WindDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_WindGust" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_WxCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_SSR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_CloudBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_CloudCeil" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_CloudCover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_TreePollen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_WeedPollen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_GrassPollen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Acacia" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Ash" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Beech" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Birch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Cedar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Cottonwood" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Cypress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Elder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Elm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Grass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Hemlock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Hickory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Juniper" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Mahogany" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Maple" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Mulberry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Oak" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Pine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Ragweed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Spruce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Sycamore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Walnut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Willow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Pm10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Pm25" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NC_O3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_Co" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NC_No2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_So2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_EpaAqi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_EpaHealthConcern" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NC_EpaPrimaryPollutant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NC_ChinaAqi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_ChinaHealthConcern" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_ChinaPrimaryPollutant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_RoadRisk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_RiskScore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_RiskConfidence" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_RiskCondition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_HailRisk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateInterval_Hourly" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="UpdateInterval_Nowcast" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Fetch_Nowcast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nc_TimeStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Rt_Core0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateInterval_Realtime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Rt_Core2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core15" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core16" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core17" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core18" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core19" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Core20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fetch_Realtime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol15" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol16" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol17" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol18" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol19" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol21" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol22" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol23" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol24" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Pol25" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Road0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Road1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Road2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Road3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Fire0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Hail0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rt_Aqi11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_Images" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_Headers" serializeAs="String">
        <value>False</value>
      </setting>
    </psClimaCell.My.MySettings>
  </userSettings>
</configuration>